@import 'normalize.css';
/*

#movil-tablet {
    background-position: center;
    background-size: cover;
    margin-left: 50px;
    width: 200px;
}
#imagen-movil {
    background-color:#183642;
    width: 200px;
}

#reloj-verde {
    background-position: center;
    background-size: cover;
    margin-left: 350px;
    width: 200px;
    float: right;
}
#reloj {
    background-color:#183642;
    width: 200px;
}
*/
body {
    max-width: 600px;
    padding: 10%;
    margin: auto;
}

header {
    background-color: #75BBD9;
    background-position: center;
    background-size: cover;
}

#image-header {
    display:block;
    margin:auto;
}

#principal {
    margin: 5%;
}
.movil-tablet {
    display: inline-block;
    margin: 15px;
}
.tele-reloj {
    height: 150px;
    width: 150px;
}
.p {
    width: 150px;
}