@import 'normalize.css';

body {
    max-width: 800px;
    padding: 5%;
    margin: auto;
}

header {
    background-color: #75bbd9;
    background-position: center;
    background-size: cover;
}

#image-cabecera{
    margin: auto;
    display: block;
}

main {
    padding: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

section {
    padding: 0 10px;
}

.caja {
    overflow: hidden;
}

.contenido {
    line-height: 20px;
    padding: 0 10px;
    text-align: justify;
}

.izquierda {
    float: left;
    width: 50%;
}

.derecha {
    float: right;
    width: 50%;
}

#imagen-derecha-izquierda {
    margin: auto;
    display: block;
}

.imagenes-centrales {
    height: 110px;
    background-color: #163643;
    background-position: center;
    background-size: cover;
}

footer {
    padding: 20px;
    background-color: #ef4c51;
    background-position: center;
    background-size: cover;
    font-stretch: narrower;
    font-size: 20px;
    color: white;
}

.links {
    width: 40px;
    float: right;
    margin: 10px;
}