section
{
    border: 1px solid red;
    padding: 20px;
}

p
{
    color:greenyellow;
}

.item-list
{
    color: darkviolet;
    font-family: sans-serif;
}

.red
{
    color: orangered;
}

.big
{
    font-size: 20px;
}

.small
{
    font-size: 10px;
}

#intro
{
    background-image: url('/images/landscape.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#ocio
{
    background-color:teal;
}
#desarrollo
{
    background-color: salmon;
}
[lang="lat"]
{
    color: purple;
}

[id]
{
    border: 3px solid blue;
}

[id="ocio"]
{
    border-color: plum;
}

[data-author="pousa"]
{
    color: pink;
}

/* Con ~ seleccionamos todos los elementos que su atributo contengan la palabra oferta */
[data-etiquetas~="oferta"]
{
    background-color: rosybrown;
    border: 3px solid gold;
}

/* Con * seleccionamos todos los elementos que su atributo contenga la cadenaindicada */
[data-etiquetas*="des"]
{
    background-color: goldenrod;
    border: 2px solid red;
}

/* Con ^ seleecionamos los atributos que empiecen por la cadena indicada */
[data-etiquetas ^= "des"]
{
    background-color: seagreen;
    border: 2px solid orchid;
}

/* Con $ seleccionamos los atributos que terminen por la cadena indicada */
[data-etiqueta $="ta"]
{
    background-color: silver;
    color: slateblue;
}