@import '/styles/normalize.css';
body {
    padding: 20px;
}

/* No se debe usar nunca important, solo en última necesidad
p {
    color: black !important;
} */
p {
    border:  1px solid black;
}

#unico {
    border:  1px solid red;
    color: red;
}

.especial {
    color: green;
    border: none;
}

/* especifidad 201 */
#navigation #navigation-list a {
    background-color: royalblue;
}

/* especifidad 104 */
nav #navigation ul li a {
    background-color: sandybrown;
    color: sandybrown;
}

/* especifidad 112 */
#navigation ul a.navigation-link {
    color: white;
}

/* especifidad 24 */
nav ul li:nth-child(2) a:hover {
    border: 1px solid black;
}

#herencia {
    color: red;
    margin: 40px;
}

article {
    color: initial;
    margin: inherit;
}