@import 'normalize.css';
body {
    padding: 20px;
}

h1, p.special {
    color: blueviolet;
}

section span {
    color: red;
}

/* section > span {
    color: blue;
} */

p > strong {
    text-transform: uppercase;
}

input[type="checkbox"] {
    display: none;
}

/* Si queremos afectar a todos los hermanos en vez de usar + se usa ~ */
input[type="checkbox"] + span{
    display: inline-block;
    border: 1px solid red;
    height: 8px;
    width: 8px;
    border-radius: 100%;
}

input[type="checkbox"]:checked + span{
    background-color: green;
}