@import '/styles/normalize.css';
body
{
    padding: 20px;
}

/* Definición de Pseudo clase */
a:visited
{
    color: green;
}

a:hover
{
    color: silver;
}

h1:hover
{
    color: rebeccapurple;
}

/* Hijos Impares */
tr:nth-child(odd)
{
    background-color: chocolate;
}

/* Hijos Pares */
tr:nth-child(even)
{
    background-color: crimson;
}

tr:first-child
{
    background-color: aquamarine;
}

tr:last-child
{
    background-color: chartreuse;
}

/* aplica a los terceros hijos de td */
td:nth-child(3)
{
    color: silver;
}

td:empty
{
    background-color: thistle;
}

th:not(.columna-2)
{
    background-color: white;
}

p::first-letter
{
    font-size: 300%;
}
p::first-line
{
    color: red;
}

p::selection
{
    background-color: lightcoral;
    color: blue;
}

/* Es necesario que exista la propiedad content, si no la tiene no funcionaría */
p::after
{
    content: ' ver más';
    font-size: 150%;
}

span::before
{
    content: ':) ';
    font-size: 200%;
}