@import 'normalize.css';
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
@font-face {
    font-family:'Oswald';
    src: url('/fonts/Oswald-Bold.eot');
	src: url('/fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Oswald-Bold.woff') format('woff'),
		url('/fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
}

@font-face {
    font-family:'Oswald';
    src: url('/fonts/Oswald-Regular.eot');
	src: url('/fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Oswald-Regular.woff') format('woff'),
		url('/fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2074;
}

p {
    padding: 10px;
    border: 1px solid rebeccapurple;
    margin: 10q;
    margin: 5mm;
    margin: 1cm;
    margin: 1in;
    margin: 10px;
}

h1 {
    font-size: 3.2em;
    border: 1rem solid gray;
    padding: 4vh 5vw;
    /* Primer valor arriba, segundo valor derecha, tercer valor abajo y cuarto valor izquierda */
    margin: 0 20% 20% 20px 30px;
    line-height: 2px;
}

p.importante {
    color: indigo;
    background-color: #000000;
    background-color: rgb(45, 66, 178);
}

p:not(.importante) {
    background-color: rgba(0, 234, 255, 0.2);
}
section > p:last-child {
    background-color: rgba(45, 66, 178,0.3);
}

body {
    color: purple;
    font-family: 'Roboto';
    font-size: 125%;
    text-shadow: -1px -1px 20px yellow;
}

p span {
    font-style: italic;
    font-weight:600;
    text-transform: capitalize;
    text-decoration: underline;
}

h1.importante {
    text-align: right;
    line-height: 1.1;
    letter-spacing: 0.7em;
    word-spacing: 30px;
    font-family: 'Oswald';
}